html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #dedfee;
}

.fuentePrincipal {
    font-family: 'Montserrat', cursive;
}

.celda-titulo {
    width: 50vw;
    font-size: 38pt;
    text-align: center;
}

.container-grid {
    width: 50vw;
}

.celda-grid {
    flex-direction: column;
    height: 10vw;
    width: 10vw;
}

.celda-grid-container {
    font-size: 16pt;
    text-align: center;
}

.celda-grid-subdato {
    font-size: 12pt;
    text-align: center;
}