/** ELEMENTOS PRINCIPALES **/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(93, 103, 251);
}

.row {
    margin: 0;
}

button {
    border: none;
}

input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
}

.fuentePrincipal {
    font-family: 'Montserrat', cursive;
}

.colorFuentePrincipal {
    color: #212529;
}

.colorFuenteSecundaria {
    color: #e1417c;
}

.colorFuenteTerciaria {
    color: #eeeeee;
}

.pd-3-0 {
    padding: 0px 3px;
}

/** ELEMENTOS DEL JUEGO **/

.celda-titulo {
    flex: 3;
    font-size: 38pt;
    text-align: center;
}

.container-grid {
    width: 50vw;
    padding: 0;
}

.celda-grid {
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: 10vw;
    justify-content: center;
}

.celda-grid-container {
    font-size: 16pt;
    text-align: center;
}

.celda-grid-subdato {
    font-size: 12pt;
    text-align: center;
}

.celda-grid-jug-ocultos {
    height: 100%;
    width: 100%;
    background-color: #4c54d1;
    margin: 3px 0px;
}

.celda-grid-jug-ocultos:hover {
    background-color: #ff4388;
}

.celda-esq-sup-izq {
    border-radius: 10px 0px 0px 0px;
}

.celda-esq-sup-der {
    border-radius: 0px 0px 0px 10px;
}

.celda-esq-inf-izq {
    border-radius: 0px 10px 0px 0px;
}

.celda-esq-inf-der {
    border-radius: 0px 0px 10px 0px;
}

.container-busq {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(93, 103, 251);
    padding: 10px;
}

.container-busq::before {
    opacity: 1;
}

.div-close {
    position: absolute;
    right: -1vw;
    top: -1vw;
    cursor: pointer;
    background-color: #4a50af;
    border-radius: 0.4vw;
}

.div-close img {
    width: 3.5vw;
}

#img-jug-seleccionado {
    width: 200px;
    border-radius: 100px;
    margin: 10px;
    border: 8px solid #4a50af;
    padding: 0px;
}

.input-busq-jug {
    width: 100%;
    height: 45px;
    border: 4px solid #ff4388;
    background-color: #4c54d1;
    padding: 10px;
}

.input-busq-jug::placeholder {
    color: #ddd;
}

.div-overlay-juego {
    display: none;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.div-result-busq {
    background-color: #eee;
    border-bottom: 1px solid #4a50af;
    padding: 6px 12px;
    cursor: pointer
}

    .div-result-busq:hover {
        background-color: #ffcadd;
        color: #ff4388;
    }