<div class="container-como-jugar-seccion" style="margin-bottom: 20px;">
    <button id="volverComoJugar" onclick="cerrarComoJugar()" class="fuentePrincipal">
        ← Volver
    </button>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo" style="font-size: 20pt;">Cómo jugar</div>
    <div>
        Completa las 9 casillas del tablero con 9 futbolistas que cumplan con los criterios de su fila y su columna. Pincha en una casilla vacía y busca al jugador que cumpla con todos los criterios (Recomendable buscar por el apellido del jugador).
    </div>
    <div>
        <b>IMPORTANTE: </b>Sólo son válidos aquellos jugadores que hayan jugado al menos una temporada desde el 2010 hasta hoy y que cumplan con los criterios de su fila y su columna entre el 2010 y hoy.
    </div>
    <div>
        Por ejemplo:
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">JUGADOR - EQUIPO</div>
    <img src="/img/jugador-equipo.png" style="width: 15vw" />
    <div>
        Completa la casilla con un futbolista que haya sido compañero de Griezmann y haya jugado en el Real Madrid entre el 2010 y hoy.
    </div>
    <div>
        <b>IMPORTANTE: </b>No vale haber compartido equipo con Griezmann a nivel de selección. Sólo vale a nivel de clubes.
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">JUGADOR - DATO</div>
    <img src="/img/jugador-dato.png" style="width: 15vw" />
    <div>
        Completa la casilla con un futbolista que haya sido compañero de Griezmann y haya ganado una Copa del Mundo entre el 2010 y hoy.
    </div>
    <div>
        <b>IMPORTANTE: </b>No vale haber compartido equipo con Griezmann a nivel de selección. Sólo vale a nivel de clubes.
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">DATO - EQUIPO</div>
    <img src="/img/dato-equipo.png" style="width: 15vw" />
    <div>
        Completa la casilla con un futbolista que sea argentino y haya jugado en el Real Madrid entre el 2010 y hoy.
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">Cómo ganar</div>
    <div>
        Ganarás cuando hayas completado el tablero con los 9 jugadores con la máxima puntuación del día.
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">Cómo se puntúa</div>
    <div>
        Tu puntuación se sumará cuando hayas acertado un jugador del tablero. El criterio para la puntuación generada es el siguiente:
    </div>
    <div>
        <ul>
            <li><b>Acierto: </b>Por cada acierto se suman 300 puntos.</li>
            <li><b>Tiempo: </b>Cuanto menos segundos hayan pasado desde el último acierto o desde el inicio de la partida (si aún no has acertado ningún jugador) mayor será la puntuación que se te sume.</li>
            <li><b>Handicap: </b>Cada jugador acertado tiene asignado un handicap. Cuanto más rebuscada sea la respuesta mayor handicap y mayor puntuación obtendrás. Por ejemplo, si buscamos un futbolista argentino que haya jugado en el FC Barcelona, el handicap de Messi será menor que el de Mascherano.</li>
        </ul>
    </div>
</div>
