<!-- Política de privacidad -->
<div class="container-como-jugar-seccion" style="margin-bottom: 20px;">
    <button onclick="cerrarPoliticaPrivacidad()" class="fuentePrincipal">
        ← Volver
    </button>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo" style="font-size: 20pt;">Política de privacidad</div>
    <div>
        Su privacidad es importante para nosotros. Para proteger mejor su información confidencial, proporcionamos este aviso que explica nuestras prácticas de información en línea y cómo se relacionan específicamente con respecto a qué tipo o cantidad de datos se pueden recopilar de usted mediante el uso del sitio web en cualquier momento durante las sesiones de navegación en cualquier computadora de escritorio. ordenadores, tabletas o dispositivos móviles.
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">Nuestro compromiso</div>
    <div>
        No recopilamos ninguna información personal en este sitio. Los proveedores externos pueden utilizar cookies para publicar anuncios basados ​​en las visitas anteriores de un usuario a su sitio web u otros sitios web. El uso de cookies publicitarias por parte de Google le permite a él y a sus socios mostrar anuncios a sus usuarios en función de sus visitas a sus sitios y/u otros sitios en Internet. Los usuarios pueden optar por no recibir publicidad personalizada.
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">Información que recopilamos</div>
    <div>
        Recopilamos la dirección IP y los patrones de clics de nuestros usuarios durante un período, pero estos datos nunca se venden ni se comparten con nadie más. Lo usamos para ver cómo las personas interactúan en línea para poder realizar mejoras en lo que experimentan en su interfaz de usuario (UI). Nuestras direcciones de correo electrónico se conservan sólo el tiempo necesario; Al responder a las consultas o comentarios de los clientes, ¡no reutilizaremos los nombres de esos mismos encuestados la próxima vez!
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">Servicios de terceros</div>
    <div>
        Recopilamos análisis genéricos de sitios web mediante navegadores de sitios web y cookies. Nuestros datos analíticos recopilados son anónimos. Es posible que trabajemos con empresas de publicidad de terceros para mostrarle anuncios cuando visite nuestro sitio. Estas empresas pueden utilizar información agregada sobre su actividad en Internet y otros sitios web que visita para proporcionarle anuncios relevantes para usted únicamente en esta plataforma, pero sin incluir ningún detalle personal como nombre o dirección.
    </div>
</div>
<div class="container-como-jugar-seccion">
    <div class="col-sm fuentePrincipal container-como-jugar-titulo">Cookies</div>
    <div>
        Las cookies son archivos con una pequeña cantidad de datos que se utilizan habitualmente como identificadores únicos anónimos. Estos se envían a su navegador desde los sitios web que visita y se almacenan en la memoria interna de su dispositivo.
    </div>
    <div>
        Este Servicio no utiliza estas “cookies” explícitamente. Sin embargo, la aplicación/sitio web puede utilizar códigos y bibliotecas de terceros que utilizan “cookies” para recopilar información y mejorar sus servicios. Tiene la opción de aceptar o rechazar estas cookies y saber cuándo se envía una cookie a su dispositivo. Si decide rechazar nuestras cookies, es posible que no pueda utilizar algunas partes de este Servicio.
    </div>
</div>