<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SLVQ58SBHJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SLVQ58SBHJ');
    </script>
    <!-- Meta elementos principales -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/img/footgrids-logo-pest.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#212529" />
    <meta http-equiv="content-language" content="es">
    <!-- Meta autor -->
    <meta name="author" content="Javier Moya" />
    <link rel="author" href="https://twitter.com/footsandgrids" />
    <meta name="keywords" content="FootGrids, pro football grid, soccer wordle">
    <!-- Meta descripción actualizada -->
    <meta name="description" content="Juego diario de grids de fútbol. Completa el tablero con los jugadores ocultos de hoy y suma la máxima puntuación">
    <title>Foots & Grids | Juego diario de grids de fútbol</title>
    <!-- Open Graph | Facebook -->
    <meta property="og:title" content="Foots & Grids | Juego diario de grids de fútbol">
    <meta property="og:description" content="Participa en nuestro emocionante juego diario de grids de fútbol. Completa el tablero con los jugadores ocultos de hoy y acumula la puntuación máxima. ¡Demuestra tus conocimientos futbolísticos y disfruta de la competencia diaria en Foot&Grids!">
    <meta property="og:image" content="./img/footgrids-logo-pest.png">
    <meta property="og:url" content="https://footsandgrids.site/">
    <meta property="og:type" content="website">
    <!-- Open Graph | Twitter -->
    <meta name="twitter:title" content="Foots & Grids | Juego diario de grids de fútbol">
    <meta name="twitter:description" content="Participa en nuestro emocionante juego diario de grids de fútbol. Completa el tablero con los jugadores ocultos de hoy y acumula la puntuación máxima. ¡Demuestra tus conocimientos futbolísticos y disfruta de la competencia diaria en Foot&Grids!">
    <meta name="twitter:image" content="https://footsandgrids.site/img/footgrids-logo-pest.png">
    <meta name="twitter:creator" content="%40footsandgrids">
    <meta property="og:url" content="https://footsandgrids.site/">
    <!-- Enlaces de estilos -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site-1200.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site-768.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FootGrids.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap">
    <!-- Google Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1489340523515648" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p id="btn-politica-privacidad" onclick="mostrarPoliticaPrivacidad()" class="p-politica-privacidad">
                Política de privacidad
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.cookie.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
